/* Стиль для заголовков */
#header1, #header2 {
    color: blue;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
}

/* Стиль для ссылок Институты */
a:link {
    color: yellow;
    text-decoration: none;
}

a:visited {
    color: gray;
    font-family: Arial;
    text-decoration: underline;
}

a:hover {
    color: yellow;
    background-color: blue;
    font-size: 16px;
    text-decoration: none;
}

a:active {
    color: green;
}

/* Стиль для параграфов */
.intro {
    font-size: 12px;
    font-family: Arial;
}

.second-paragraph {
    color: red;
    font-family: 'Arial Narrow';
    font-size: 10px;
}

.union-activity {
    color: green;
    font-family: Verdana;
    font-size: 18px;
}

/* Стиль для магистратуры */
.magistrature-list {
    list-style-image: url('logo.jpg');
}

/* Стиль для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

strong {
    color: red;
}
